<%- include('header'); -%>
<tr>
<th scope="row">
        <%= product.name %>
    </th>
    <td>
        <%= product.reference %>
    </td>

    <td>
        <%= product.category %>
    </td>

    <td>
        <%= product.price %>AED
    </td>
</tr>

<%- include('footer'); -%>